[submodule "sharpcompress"]
	path = sharpcompress
	url = https://github.com/drone1400/sharpcompress
	branch = drone-modifications-2025
[submodule "citrus"]
	path = citrus
	url = https://github.com/drone1400/Citrus.Avalonia
